*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

.DS_Store
.cache
.project
.settings
.tags
.tmproj
nbproject
Thumbs.db
tags

node_modules/

tmp/

public/

bower_components/

docs/api/

.env

src/index.jsx
build/bundle.js
build/bundle.js.map
index.html
